# Marked Python as a main language
*.py linguist-language=Python
*.ipynb linguist-language=Python


# Ignore HTML przy during language detection
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false